<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title>Socket.IO chat</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div class="wrapper">
    <div class="left" id="left">
        <div>
            <ul class="userList">
                <li>
                    <img src="images/user.png" class="photo"/>
                    <span>李医生</span>
                    <div class="fr state">

                    </div>
                </li>
                <li>
                    <img src="images/user.png" class="photo"/>
                    <span>李医生</span>
                    <div class="fr state">

                    </div>
                </li>
                <li>
                    <img src="images/user.png" class="photo"/>
                    <span>李医生</span>
                    <div class="fr state">

                    </div>
                </li>
                <li>
                    <img src="images/user.png" class="photo"/>
                    <span>李医生</span>
                    <div class="fr state">

                    </div>
                </li>
                <li>
                    <img src="images/user.png" class="photo"/>
                    <span>李医生</span>
                    <div class="fr state">

                    </div>
                </li>
                <li>
                    <img src="images/user.png" class="photo"/>
                    <span>李医生</span>
                    <div class="fr state">

                    </div>
                </li>
                <li>
                    <img src="images/user.png" class="photo"/>
                    <span>李医生</span>
                    <div class="fr state">

                    </div>
                </li>
                <li>
                    <img src="images/user.png" class="photo"/>
                    <span>李医生</span>
                    <div class="fr state">

                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="right" id="right">
        <div class="content">
            <ul>
                <li class="clearfix">
                    <div class="dialogue-user">
                        <img src="images/user.png"/>
                        <div class="who">李医生</div>
                    </div>
                    <div class="dialogue-content">

                        <div class="bubble">
                            <div>你好</div>
                            <div class="tail"></div>
                        </div>
                    </div>
                </li>
                <li class="clearfix me">
                    <div class="dialogue-user">
                        <img src="images/user.png"/>
                        <div class="who">李医生</div>
                    </div>
                    <div class="dialogue-content">

                        <div class="bubble">
                            <div>你好</div>
                            <div class="tail"></div>
                        </div>
                    </div>
                </li>
                <li
            </ul>
        </div>
    </div>
</div>
<script>
  var id = '<%= id%>';
  var name = '<%= name%>';
  var room = '<%= room%>';
</script>
<script src="/javascripts/socket.io.min.js"></script>
<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>