<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title>实时通讯</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div class="wrapper">
    <div class="left" id="left">
        <div>
            <ul class="userList" id="userList">

            </ul>
        </div>
        <div class="showHistory-wrap">
            <button class="btn btn-info btn-sm" id="showHistory">显示历史记录</button>
        </div>
    </div>
    <div class="right" id="right">
        <div class="content">
            <ul id="messages" class="message">

            </ul>
        </div>
        <div class="input-wrap ">
            <div class="tool">
                <a href="javascript:void(0)">
                    <img src="images/face.png">
                </a>
                <a href="javascript:void(0)" id="imageIcon">
                    <img src="images/img.png">
                </a>
            </div>
            <textarea class="input" id="m"></textarea>
            <div class="submit-wrap clearfix">
                <div class="submit" id="submit">发送</div>
            </div>
        </div>
    </div>
</div>

<input type="file" id="image" class="display-none">
<script>
  var id = '<%= id%>';
  var name = '<%= name%>';
  var room = '<%= room%>';
</script>
<script src="/javascripts/socket.io.min.js"></script>
<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>